* text=auto
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.md text eol=lf
*.svg text eol=lf
*.jfif binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.ico binary
*.mp4 binary
*.pdf binary
*.docx binary
